@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body{
    margin: 0 auto;
    font-family: 'Playfair Display', serif;      
}
.wrapper{
    text-align: center;
    width: 900px;
    margin: 0 auto;
    padding-top: 44px;
    padding-bottom: 50px;
}
.page-header{
    margin-bottom: 70px;
}
.site-navigation{
    padding: 0;
    text-align: center;
    font-size: 0;  
}
nav ul{
    list-style: none;
}
.site-navigation li{
    display:inline-block;
    margin-right: 50px;
}
.site-navigation li:last-child{
    margin-right: 0; 
}
.site-navigation a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    color: #626262;   
    padding: 28px; 
    display: block      
}
.site-navigation a:hover{
    color: #03a9f4;
}
.visually-hiddenvisuall{
    visibility: hidden;
    margin: 0;
}
.content-article{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 56px;
    font-size: 0;   
}
.content-article-item:nth-child(odd){
    margin-right: 50px;
}
.content-article-item:nth-child(1n+5){
    margin-bottom: 0;
}
.content-article-item img {
    margin:0;
    margin-bottom: 30px;
}
.aritcle-item-name{
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    color: #b4ad9e;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;    
    margin: 0 0 32px 0;
}
.content-article-item h2{
    color:  #626262;
    font-size: 30px;
    font-weight: 400;
    text-align: left;
    line-height: 36px;
    margin: 0;
    margin-bottom: 32px;      
}

.content-article-item{
    text-align: left;
    font-size: 14px;
    line-height: 24px; 
    width: 420px;
    display: inline-block; 
    margin-bottom: 140px;     
}
.load{
    display: block;
    background-color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    border: 1px solid #000000;
    margin: 0 auto;
    text-align: center;
    color: #626262;
    cursor: pointer;
    padding: 23px;
    text-decoration: none;   
    width: 162px; 
}
a:hover{
    color: #03a9f4;
}
