$main-font-stack:'Roboto', sans-serif;
$secondary-font-stack: 'Montserrat', sans-serif;
$third-font-stack:"Kaushan Script", cursive;
$primary-white-color: #ffffff;
$main-gradient-color: linear-gradient(to bottom, rgba(240, 144, 140, 0.9), rgba(252, 227, 138, 0.8));

